# build products
/build/
/_build/
/out/
/bin/
/lib/
/_dist/
/dist/
/_debug/
/_release/
*.vst3
*.component
*.a
*.o
*.obj
*.ilk
*.pdb
*_autogen*
/.deps/
/build/_deps/
/build/*

# IDE
.DS_Store
.vscode/
.idea/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.cmake
_compile_commands.json
